# Modulo 3 Actividad 2

Intención del aprendizaje esperado:

2. Explica los conceptos de correlación y regresión lineal para la caracterización de un conjunto de datos de una población.

Ejercicios Planteados

**Caso:**

Una compañía desea hacer predicciones del valor anual de sus ventas totales en cierto país a partir de la relación de éstas y la renta nacional. Para investigar la relación cuenta con los siguientes datos:

<img src="tablaxy.jpg">

X representa la renta nacional en millones de euros e Y representa las ventas de la compañía en miles de euros en el periodo que va desde 2010 hasta 2020 (ambos inclusive).

Calcular:
1. La recta de regresión lineal de Y sobre X.
2. El coeficiente de correlación lineal e interpretarlo.
3. Si en 2011 la renta nacional del país fue de 325 millones de euros. ¿Cuál 
será la predicción para las ventas de la compañía en este año?

In [4]:
registros_renta_nacional_ventas_compañia = {'Año' : [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], 'Renta Nacional' : [189, 190, 208, 227, 239, 252, 257, 274, 293, 308, 316], 'Venta Compañia M€' : [402, 404, 412, 425, 429, 436, 440, 447, 458, 469, 469]}
index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'k']

df_rentanac_vs_ventacompania = pd.DataFrame(registros_renta_nacional_ventas_compañia, index=index)
df_rentanac_vs_ventacompania

    Año  Renta Nacional  Venta Compañia M€
A  2010             189                402
B  2011             190                404
C  2012             208                412
D  2013             227                425
E  2014             239                429
F  2015             252                436
G  2016             257                440
H  2017             274                447
I  2018             293                458
J  2019             308                469
k  2020             316                469